*{
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}
ul {
  list-style: none;
}
body {
  background-color: black;
}
p {
  line-height: 25px;
  margin-bottom: 20px; 
  color:rgb(252, 87, 252);
}
h1 {
  font-family:monospace;
  font-weight: bold;
  color: pink;
  font-size: 30px;
  margin-bottom: 35px;
}
h2 {
  font-weight: 300;
  color: rgb(252, 87, 252);
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  font-size: 35px;
  color: pink;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 25px;
  color: rgb(243, 166, 179);
  text-align: left;
  margin-bottom: 20px;
}
h5 {
  font-size: 18px;
  color: pink;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
a:hover {
  color: palevioletred;
}
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
hr{
  color:pink;
}
/*HEADER*/
header {
  height: 50px;
}
header h1 {
  float:right;
  margin-top: 1px;
}
header h1 .color {
  color: pink;
}
/*NAV BAR*/
#nav_bar li {
  display: inline-block;
  padding: 4px;
  box-shadow: 1px 1px 5px ;
}
#form-search { 
  width: 250px;
  line-height: 22px;
  padding: 20px 10px;
  font-family:'Courier New', Courier, monospace;

}
.form #form-search {
  padding: 0 8px;
}
.form-search:hover {
  border-color:pink;
  padding-top: 0;
}
header nav {
  float: left;
}
header nav ul li {
  float: left;
  display: inline-block;
  margin-top: 50px;
}
header nav ul li a {
  color: rgb(172, 34, 177);
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 30px;
}
/*MAIN IMAGE*/
#animetattoo {
  height: 440px;
  padding-top: 1px;
  background: black url('https://i.pinimg.com/564x/b2/50/57/b25057a75e04bb49f6afe7849fe56b0b.jpg');
}
#animetattoo h2 {
  margin: 190px 0 30px 0;
}
.button-1 {
  display: block;
  text-align: center;
  background: rgb(58, 56, 56);
  border-radius: 3px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}
.button-1:hover {
  background-color: plum;
  color: #fff;
}
#features ul {
  margin: 60px 0;
}
#features ul li {
  width: 250px;
  padding-top: 20px;
  float:left;
  margin-right: 40px;
  text-align: center;
}
#features ul li.feature-1 {
  background: url('eyestat.jpg') no-repeat top center;
}
#features ul li.feature-2 {
  background: url('eyestat.jpg') no-repeat top center;
}
#features ul li.feature-3 {
  background: url('eyestat.jpg') no-repeat top center;
}
#video-box {
  padding: 40px 0;
  text-align: center;
}
#video-box h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 200px;
  border-bottom: 1px solid white;
  padding: 0 0 20px 0;
  text-align:center;
}
#video-box a img {
  margin: 20px 0;
}
#cta {
  padding: 60px 0;
  text-align: center;
}
#cta h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid white;
  padding: 0 0 20px 0;
}
.button-2 {
  display: block;
  margin: 0 auto;
  border: 2px solid palevioletred;
  color: palevioletred;
  border-radius: 3px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}
.button-2:hover {
  background-color: pink;
  color: #fff;
}
/*2nd HTML PAGE*/
.carousel-container {
  width: 665px;
  height: 750px;
  position: relative;
  margin: 0 auto;
}
.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 15px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: palevioletred;
  cursor:pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.navigation .nav-btn:hover {
  background: pink;
}

.slider img {
  width: 1000px;
  height: 600px;
}
.carousel {
  margin-top: 20px;
  transition: all 0.3s ease;

}
.carousel img {
  width: 100%;
  transition: all 0.3s ease;
  border:8px solid pink;
}

.item {
  position: absolute;
  display: none;
}

.main {
  display: block;
}
.caption {
  position: absolute;
  bottom: 15;
  width: 113%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: pink;
  height: 35px;
} 
/* THIRD HTML PAGE, GALLERY*/
input[type=text], select, textarea {
  width:100%; 
  padding: 10px;
  border: 1.5px solid rgb(151, 85, 137);
  border-radius: 4px; 
  box-sizing:calc( 75 50);
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}
input[type=submit] {
  background-color: rgb(151, 85, 137);
  color: pink;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(235, 178, 227);
}

.container {
  border-radius: 10px;
  background-color:black;
  padding: 15px;
  color:lightcoral;
  font-family:'Courier New', Courier, monospace;
}
.
/*FOOTER*/

footer{
  background: black;
  border-top: solid 2px rgba(255, 192, 203, 0.671);
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

footer ul li {
  display: inline;
  color: grey;
  font-size: 14px;
  padding: 13px;
  }
  
footer ul {
  float: left;
  padding: 1px;
}
  
  footer ul a:hover {
  text-decoration: underline;
  color: pink;
}
  
  .footer-right {
  float: right;
}